html, .Container {
    background-color: antiquewhite;
    background-size: cover;
}

/* To give the Card and Cart components a different color */
.Card, .Cart {
    background-color: cornsilk;
}

.Screen {
    margin-top: 8vh;
    margin-left: 15vh;
    margin-right: 15vh;
}

.Title {
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    font-size: 60px;
}