/*
I bet my life that there's a better way to do this, but this works,
and I'm not gonna change it if it's not a priority haha
*/
html, .Container {
    background-color: antiquewhite;
    background-size: cover;
}

/*
I may make the "Card" and "Cart" components different colors in the future.
*/
.Card, .Cart{
    background-color: cornsilk;
}


.Screen {
    margin-top: 8vh;
    margin-left: 15vh;
    margin-right: 15vh;
}

.Title {
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    font-size: 60px;
}